---
// @ts-ignore
import { Image } from "astro:assets";
import { Icon } from "astro-icon";

import zeagImage from "../assets/zeag.jpg";
import tirisImage from "../assets/tiris.jpg";
import macImage from "../assets/mac.jpg";
import nitroImage from "../assets/nitro.jpg";
import nedapImage from "../assets/nedap.jpg";
import entryPassImage from "../assets/entrypass.jpg";
---

<div class="mt-16 sm:mt-0 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Business Partners
  </h2>
  <div class="relative flex overflow-x-hidden">
    <div class="py-12 animate-marquee flex whitespace-nowrap">
      <span class="mx-1 sm:mx-1 md:mx-3 lg:mx-5"><img src={zeagImage.src} alt="Zeag"></span>
      <span class="mx-1 sm:mx-1 md:mx-3 lg:mx-5"><img width="150%" src={entryPassImage.src} alt="Entry Pass"></span>
      <span class="mx-1 sm:mx-1 md:mx-3 lg:mx-5"><img width="150%" src={nitroImage.src} alt="Nitro"></span>
      <span class="mx-1 sm:mx-1 md:mx-3 lg:mx-5"><img width="150%" src={macImage.src} alt = "mac"></span>
      <span class="mx-1 sm:mx-1 md:mx-3 lg:mx-5"><img width="150%" src={nedapImage.src}></span>
    </div>
  
    <div class="absolute top-0 py-12 animate-marquee2 flex whitespace-nowrap">
      <span class="mx-1 sm:mx-1 md:mx-3 lg:mx-5"><img src={zeagImage.src} alt="Zeag"></span>
      <span class="mx-1 sm:mx-1 md:mx-3 lg:mx-5"><img src={entryPassImage.src} alt="Entry Pass"></span>
      <span class="mx-1 sm:mx-1 md:mx-3 lg:mx-5"><img src={nitroImage.src} alt="Nitro"></span>
      <span class="mx-1 sm:mx-1 md:mx-3 lg:mx-5"><img src={macImage.src} alt = "mac"></span>
      <span class="mx-1 sm:mx-1 md:mx-3 lg:mx-5"><img src={nedapImage.src}></span>
    </div>
  </div>
  
</div>
